.cabeza {
  display: grid;
  height: auto;
  background-image: url(../img/psicoo.jpg);
  align-items: center;
}
.cabeza .cabeza__bloque {
  display: grid;
  justify-content: center;
}
.cabeza .centrarlogo {
  text-align: center;
}
.cabeza .logo {
  height: 110px;
  width: 110px;
  padding-top: 10px;
  animation-name: animacionlogo;
  animation-duration: 320s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes animacionlogo {
  20% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  40% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  60% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  80% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.cabeza .form__boton {
  background-color: #BEEC3D;
  color: white;
  margin-left: 20px;
  width: 280px;
  height: 45px;
  font-size: 20px;
  margin-top: 20px;
}
.cabeza .cabeza__clasea {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #e9ebec;
  font-weight: bold;
  font-family: "Architects Daughter";
}
.cabeza li {
  list-style: none;
}
@media (min-width: 480px) {
  .cabeza .cabeza {
    display: flex;
  }
  .cabeza .cabeza__bloque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cabeza .logo {
    height: 110px;
    width: 110px;
    padding-top: 10px;
    animation-name: animacionlogo;
    animation-duration: 320s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
  @keyframes animacionlogo {
    20% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
    40% {
      -webkit-transform: rotate(-359deg);
      transform: rotate(-359deg);
    }
    60% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
    80% {
      -webkit-transform: rotate(-359deg);
      transform: rotate(-359deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  .cabeza .form__boton {
    background-color: #BEEC3D;
    color: white;
    margin-left: 20px;
    width: 280px;
    height: 45px;
    font-size: 20px;
    margin-top: 40px;
  }
  .cabeza .cabeza__listas {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .cabeza .cabeza__clasea {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
    color: aliceblue;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.seccionlogin {
  background-image: url(../img/fondo12.jpg);
  background-repeat: no-repeat;
}
@media (min-width: 480px) {
  .seccionlogin {
    height: 500px;
  }
  .seccionlogin .seccion__panel {
    align-items: center;
    padding-top: 100px;
  }
}
.seccionlogin .seccion__titulo {
  text-align: center;
}
.seccionlogin .form-group {
  text-align: center;
}
.seccionlogin .seccion__registro {
  text-align: center;
}
.seccionlogin .textoregistro {
  color: yellowgreen;
}
.seccionlogin .textoregistro:hover {
  color: white;
}
.seccionlogin .textoregistro {
  color: yellowgreen;
}
.seccionlogin .textoregistro:hover {
  color: white;
}

.pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/psicoo.jpg);
}
@media (min-width: 480px) {
  .pie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.pie .pie__datos {
  color: #BEEC3D;
}

/*# sourceMappingURL=main.css.map */
