h1 {
  color: #BEEC3D;
}

h2 {
  color: #BEEC3D;
}

h3 {
  color: #BEEC3D;
}

h4 {
  color: #BEEC3D;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #BEEC3D;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
}

h2 {
  color: #BEEC3D;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

h3 {
  color: #BEEC3D;
  font-size: 25px;
  text-align: center;
}

h4 {
  color: white;
}

.clasea {
  font-family: 'Architects Daughter', cursive;
}

/*body*/
.centrado {
  text-align: center;
}

.footericonos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  /** posicionar areas**/
      grid-template-areas: "header" "bloqueuno" "bloquedos" "bloquetres" "footer";
}

/** posicionar areas**/
/** areas**/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #5f5f70;
}

.bloqueuno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bloqueuno;
}

.bloquedos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bloquedos;
  background-image: url(../img/terror4.jpg);
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloquetres {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: bloquetres;
  background-image: url(../img/8.jpg);
  background-size: cover;
  height: 600px;
}

.btn-success {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  padding: 10px;
}

.bloqueseis {
  background-color: #2f1851;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%235b23b4' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

.precios {
  margin: 50px;
}

.chicaaudifonos {
  -webkit-animation-name: chicaaudifonos;
          animation-name: chicaaudifonos;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 300px;
}

@-webkit-keyframes chicaaudifonos {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
}

@keyframes chicaaudifonos {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
}

.hombreasustado {
  -webkit-animation-name: hombreasustado;
          animation-name: hombreasustado;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes hombreasustado {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hombreasustado {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.pie__datos {
  color: #BEEC3D;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

/**header**/
.nav-link {
  color: white !important;
  font-family: 'Monoton', cursive;
  font-size: 15px;
  font-weight: bold;
}

header {
  background-image: url(../img/psicoo.jpg);
}

.nav-link.active {
  color: chartreuse;
}

.cabeza__bloque {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-brand {
  height: 110px;
  width: 110px;
  padding-top: 10px;
  -webkit-animation-name: animacionlogo;
          animation-name: animacionlogo;
  -webkit-animation-duration: 320s;
          animation-duration: 320s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes animacionlogo {
  20% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  40% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  60% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  80% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes animacionlogo {
  20% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  40% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  60% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  80% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.form__boton {
  background-color: #BEEC3D;
  color: white;
  margin-left: 20px;
  width: 280px;
  height: 45px;
  font-size: 20px;
}

.cabeza__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
  font-weight: bold;
}

.cabeza__nav a:hover {
  border: 1px solid #BEEC3D;
}

.cubologin {
  padding-top: 100px;
}

.centrarlogo {
  text-align: center;
}

/**main**/
.seccionproyecto {
  background-color: #2f1851;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%235b23b4' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

.bloquecinco {
  background-color: #2f1851;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%235b23b4' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
}

.bloqueuno__h1 {
  padding-bottom: 60px;
}

.transicion {
  margin-top: 69px;
  -webkit-animation-name: animacionmujer;
          animation-name: animacionmujer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes animacionmujer {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
}

@keyframes animacionmujer {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
}

.transicion2 {
  height: 0px;
  width: 0px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloqueuno {
  background-image: url(../img/terror3.png);
  height: 580px;
  background-position: center center;
}

.form__boton {
  background-color: #BEEC3D;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  width: 280px;
  height: 45px;
  font-size: 20px;
}

.form__input {
  background-color: ghostwhite;
  margin-top: 30px;
  text-align: center;
  width: 280px;
  height: 45px;
  margin-left: 20px;
}

/*bloque dos main*/
.bloquedos__cajita1 {
  height: 400px;
  width: 360px;
}

.bloquedos__cajita3 {
  height: 250px;
  width: 250px;
  margin: 20px;
}

.cajas {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*bloque tres*/
.cajita4, .cajita5, .cajita6 {
  border-radius: 50%;
}

/**footer**/
.piepaginas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/fondofooter.jpg);
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footericonos {
  padding-top: 10px;
}

.logofooter {
  width: 180px;
  height: 150px;
}

/**pagina experiencia**/
.contenidoexperiencia {
  height: 800px;
}

.cajita7 {
  background-image: url(../img/gatito.png);
  height: 180px;
  width: 180px;
  margin: 18px;
}

.cajita8 {
  background-image: url(../img/psico.png);
  height: 200px;
  width: 200px;
  margin: 20px;
}

/*elproyecto*/
.contenido_principaldos {
  background-image: url(../img/fondo9.jpg);
  height: 1600px;
}

.proyectoexperiencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

p {
  color: white;
}

/*seccion equipo*/
.contenidoequipo {
  background-image: url(../img/fondo4.jpg);
  height: 790px;
}

.caja11 {
  border-radius: 50%;
}

/*seccion contacto*/
.formulario {
  background-image: url(../img/fondo6.jpg);
  padding-bottom: 90px;
  padding-top: 90px;
}

.formulario__apariencia {
  width: 350px;
  margin: 0 auto;
  background-color: thistle;
  padding: 15px;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
}

.formulario__datos {
  border: solid 1px #691010;
  margin: 3px;
  width: 320px;
}

.mensaje {
  height: 100px;
}

.form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .seccionelproyecto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .titulito {
    font-size: 100px;
  }
  .cubologin {
    padding-top: 10px;
  }
  .icono1, .icono2, .icono3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .box1 {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }
  .box2 {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }
  .box3 {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }
  .imagenhombre {
    padding-top: 90px;
    padding-left: 100px;
  }
  .centrarlogo {
    text-align: inherit;
    padding-left: 60px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloqueuno__h1 {
    padding-bottom: 0px;
    font-size: 100px;
  }
  .bloquedos {
    height: 680px;
  }
  .bloquetres {
    height: 600px;
  }
  .bloquedos__cajita1 {
    height: 380px;
    width: 500px;
  }
  .bloquedos__cajita3 {
    height: 400px;
    width: 380px;
  }
  .cajas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 600px;
  }
  .cajita7 {
    background-image: url(../img/gatito.png);
    height: 300px;
    width: 300px;
    margin: 20px;
  }
  .cajita8 {
    background-image: url(../img/psico.png);
    height: 400px;
    width: 400px;
    margin: 20px;
  }
  .contenidoexperiencia {
    height: 680px;
  }
  .pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proyectoexperiencias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    margin-top: 120px;
  }
  .contenido_principaldos {
    background-image: url(../img/fondo9.jpg);
    height: 680px;
  }
}

.navbar {
  background-color: transparent !important;
}

.navbar-toggler {
  color: #BEEC3D;
}

@media (min-width: 992px) {
  .cabeza__bloque {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-link {
    font-size: 16px;
  }
  #navbarNavDropdown {
    padding-left: 200px;
  }
  .cabeza__listas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    list-style: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
  }
  .cabeza__nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    font-size: 22px;
    color: aliceblue;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.textopie {
  text-decoration: none;
}

@media (min-width: 992px) {
  .transicion {
    width: 400px;
    height: 422px;
    margin-top: 35px;
    -webkit-animation-name: animacionmujer;
            animation-name: animacionmujer;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes animacionmujer {
    0%, 100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-1px);
      transform: translateX(-1px);
    }
    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
  }
  @keyframes animacionmujer {
    0%, 100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-1px);
      transform: translateX(-1px);
    }
    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
  }
  .transicion2 {
    height: 392px;
    width: 400px;
    -webkit-animation-name: animacionmanos;
            animation-name: animacionmanos;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  @-webkit-keyframes animacionmanos {
    100% {
      opacity: 0;
      -webkit-transform: translateX(-1200px);
      transform: translateX(-1200px);
    }
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes animacionmanos {
    100% {
      opacity: 0;
      -webkit-transform: translateX(-1200px);
      transform: translateX(-1200px);
    }
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .bloqueuno {
    height: 550px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin-top: 0px;
    height: 390px;
  }
  .titulo, .titulotres {
    font-size: 60px;
  }
}

.icono1, .icono2, .icono3 {
  padding-left: 100px;
}

.icono5 {
  padding-left: 50px;
}

.seccionlogin {
  background-image: url(../img/fondo12.jpg);
  background-repeat: no-repeat;
  height: 500px;
}

@media (min-width: 992px) {
  .seccionlogin {
    height: 500px;
  }
  .seccionlogin .seccion__panel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
  }
}

.seccionlogin .seccion__titulo {
  text-align: center;
}

.seccionlogin .form-group {
  text-align: center;
}

.seccionlogin .seccion__registro {
  text-align: center;
}

.seccionlogin .textoregistro {
  color: yellowgreen;
}

.seccionlogin .textoregistro:hover {
  color: white;
}

.seccionlogin .textoregistro {
  color: yellowgreen;
}

.seccionlogin .textoregistro:hover {
  color: white;
}

@media (min-width: 1000px) {
  .chicaaudifonos {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .bloquetres {
    height: 1425px;
  }
}

@media (max-width: 431px) {
  .bloquetres {
    height: 1500px;
    background-repeat: repeat;
  }
  .videoyoutube {
    width: 350px;
    height: 180px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 50px;
  }
}

@media (min-width: 575px) {
  .bloquetres {
    height: 1125px;
    background-repeat: repeat;
  }
  .videoyoutube {
    width: 400px;
    height: 450;
    padding-left: 150px;
  }
}

@media (min-width: 768px) {
  .bloquetres {
    height: 800px;
    background-repeat: repeat;
  }
  .videoyoutube {
    width: 600px;
    height: 450;
    padding-left: 150px;
  }
}

@media (min-width: 1000px) {
  .bloquetres {
    height: 700px;
    background-repeat: repeat;
  }
}

@media (min-width: 1204px) {
  .bloquetres {
    height: 650px;
    background-repeat: repeat;
  }
  .videoyoutube {
    width: 800px;
    height: 650;
    padding-left: 150px;
  }
}
/*# sourceMappingURL=main.css.map */